{% load static %}
<link type="text/css" href="{% static 'mainapp/css/styles.css' %}" rel='stylesheet'>

<nav id="bar" class="navbar navbar-expand-lg navbar-light" style="background-color: #ffe4c4;">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'home' %}">Библиотека</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a id="ii" class="nav-link active" aria-current="page" href="{% url 'home' %}">Книги</a>
        </li>
        <li>
          <a id="ia" class="nav-link active" aria-current="page" href="{% url 'authors' %}">Авторы</a>
        </li>
        {% if user.is_authenticated %}
          <li class="nav-item">
            <a id="io" class="nav-link" href="{% url 'add_book' %}">Добавить книгу</a>
          </li>
          <li class="nav-item">
            <a id="iy" class="nav-link" href="{% url 'add_author' %}">Добавить автора</a>
          </li>
           <li class="nav-item">
            <p class="nav-link" id="hello">Привет, {{ user.username }}</p>
          </li>
        {% endif %}
        {% if not user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'registration' %}">Регистрация</a>
          </li>
        {% endif %}
      </ul>
      <span class="navbar-text">
        {% if user.is_authenticated %}
          <a class="nav-link" href="{% url 'logout' %} ">Выйти</a>
        {% else %}
          <a class="nav-link" href="{% url 'login' %}">Авторизация</a>
        {% endif %}
      </span>
    </div>
  </div>
</nav>