{% load static %}

<link rel="stylesheet" href="% static 'mainapp/css/styles.css' %}">
<nav class="navbar navbar-expand d-flex flex-column align-item-start" id="sidebar">
<form action="{% url 'filter' %}" method="get">
  <h3>Жанры</h3>
    <div style="width: 13,5rem">
        <ul class="list-group list-group-flush">
          {% for genre in view.get_genres %}
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="{{ genre.id }}" id="flexCheckDefault" name="genre">
                <label class="form-check-label" for="flexCheckDefault">
                    {{ genre.title }}
                </label>
            </div>
          {% endfor %}
        </ul>
    </div>
    <h3>Авторы</h3>
    <div style="width: 13,5rem">
        <ul class="list-group list-group-flush">
          {% for author in view.get_authors %}
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="{{ author.id }}" name="author" id="flexCheckChecked">
                <label class="form-check-label" for="flexCheckChecked" >
                    {{ author.surname }}
                </label>
            </div>
          {% endfor %}
        </ul>
    </div>
    <button type="submit" id="find-button">Найти</button>
</form>
</nav>
